doctype html
html
  head
    title 404
    link(rel='stylesheet' type="text/css" href='/css/app.css')
  body
    .w-full.h-full.bg-grey-lighter.p-12
      h1 404
      p Error occurred! - File not Found
        .sub
          p
            a(href='/') Back