.bg-red-lightest.border.border-red-light.text-red-dark.px-4.py-3.rounded.relative.mb-4.mx-6(role='alert')
  strong.font-bold Error! &nbsp;
  span.block(class='sm:inline')=error_message
  span.absolute.pin-t.pin-b.pin-r.px-4.py-3